{% extends 'base.html.twig' %}

{% block title %}Editer MaTable{% endblock %}

{% block body %}
    <div style="text-align: center"><h1>Editer L'Imc</h1></div>

    {{ include('mon_imc/_form.html.twig', {'button_label': 'Update'}) }}

    <div style="text-align: center"><a href="{{ path('mon_imc_index') }}">lister !</a></div>

    {{ include('mon_imc/_delete_form.html.twig') }}
{% endblock %}